[submodule "include/mavlink"]
	path = include/mavlink
	url = https://github.com/monashuas/c_library
    ignore = all
[submodule "include/logging"]
	path = include/logging
	url = https://github.com/easylogging/easyloggingpp
[submodule "include/mavlink2"]
	path = include/mavlink2
	url = https://github.com/mavlink/c_library_v2.git
